.contact {
    height: 100vh;
    padding-top: 100px;
}

label {
    display: inline-block;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 17px;
}

input::placeholder {
    color: lightgray;
}

textarea::placeholder {
    color: lightgray;
}

.name-email {
    display: flex;
    justify-content: space-between;
}

.name_email_in {
    position: relative;
    width: 48%;
    height: 80px;
    overflow: hidden;
}

.text_area {
    position: relative;
    width: 100%;
    height: 165px;
    overflow: hidden;
}

input {
    width: 100%;
    border: none;
    background: #545658;
    color: white;
    border-bottom: 1px solid #f96539;
    outline: none;
    padding: 5px 15px;
    transition: .3s;
    border-radius: 0;
    position: absolute;
    bottom: 0;
}

input:focus {
    /* border-bottom: 1px solid #39f9cd; */
    color: #39f9cd;
}

label::after {
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #39f9cd;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: .5s;
}

input:focus + label::after,
textarea:focus + label::after {
    transform: translateX(0%);
}

textarea {
    width: 100%;
    border: none;
    background: #545658;
    color: white;
    border-bottom: 1px solid #f96539;
    outline: none;
    padding: 5px 15px;
    height: 120px;
    transition: .3s;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    resize: none;
}
textarea:focus {
    /* border-bottom: 1px solid #39f9cd; */
    color: #39f9cd;
}

.input_name {

}

.input_email {

}

.message-me {
    margin-top: 75px;
    text-decoration: underline;
}

.contact-info {
    margin-top: 75px;
    text-decoration: underline;

}

.message-area {
    display: flex;
    justify-content: space-between;
}

.contact-area {
    padding-left: 80px;
}

.feel-free {
    color: white;
    font-size: 16px;
    padding-top: 15px;
}

.contact-page-detail {
    color: white;
    /* border-left: 1px solid #62c798; */
    padding: 5px 20px;
    margin-top: 30px;
    border-left: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #CDDC39, #3ad575);
}

.contact-page-detail h4 {
    font-size: 18px;
    padding: 4px 0;
    margin: 0;
    font-weight: 400;
}

.disabledSendBtn {
    background-color: white;
    color: black;
    width: 132px;
}

.disabledSendBtn:hover, .disabledSendBtn:focus, .disabledSendBtn:active {
    color: black;
  }
  .disabledSendBtn:hover:before, .disabledSendBtn:focus:before, .disabledSendBtn:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  .progressBtn {
    padding-top: 4px;
    padding-bottom: 2.5px;
    background: #c4c5c7;
    border: 1px solid #c4c5c7;
    opacity: 1 !important;
    width: 132px !important;
  }
